/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {
    border-radius: 8px;
    background: #FF900E;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 15px 22px;
    color: #FFF;
    cursor: pointer;
}


/* header styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 150px;

}


.nav>h3 {
    color: #131313;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

ul {
    display: flex;

}

ul>li {
    list-style: none;
    /* border: 2px solid green; */
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;

}

li>a {
    text-decoration: none;
    color: #424242;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* banner section start */
.banner {
    margin-top: 80px;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-tittle {
    color: #131313;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;

}

.banner-description {
    color: #727272;
    margin-bottom: 15px;
}

.banner img {
    margin-top: 50px;
    width: 100%;
}




/* main section start */
.maine {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFF;
}


/* features start */
.features {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    ;
}

.images-features {
    width: 49.5%;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.images-features img {
    width: 100%;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    object-fit: cover;
}

.text-features {
    width: 49.5%;
    padding-left: 40px;
    /* border: 2px solid red; */
}

.features-tittle {
    color: #727272;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;

}

.span1 {
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;

}

.span2 {
    color: #FF900E;
    font-family: Work Sans;
    font-size: 2.5rem;
    font-weight: 700;

}

.features-description {
    color: #727272;
    font-size: 1rem;
    padding-bottom: 20px;
}

/* second-features stars */

.second-features {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;


}

.section-tittle1 {
    color: var(--Dark-01, #131313);
    font-size: 2rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;

}

.section-description1 {
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;


}

.text-second-features {
    width: 49%;
    margin-right: 20px;
    padding-right: 30px;
}

.text-second-features .card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-top: 30px;
    padding: 30px;
    margin-bottom: 20px;
}

.images-second-features {
    width: 49%;
    padding-left: 20px;
}

.images-second-features>img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.year-second-features {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 30px;
    width: 300px;
    position: relative;
    bottom: 150px;
    left: 450px;

}

.year-second-features h2 {
    color: #FFF;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;

}

.year-second-features p {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

/* facts section start */
.facts {
    margin-top: 60px;
}

.facts>h3 {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 10px;
}

.facts>p {
    color: #727272;
    font-weight: 400;
    width: 60%;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 30px;

}

.card-stats {
    color: #424242;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;

}

.card-status {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 600;

}

/* sponsor section */

.sponsor {
    margin-top: 80px;
}

.sponsor-first {
    text-align: center;
    margin-bottom: 50px;
}

.sponsor-tittle {
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
}

.sponsor-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
}

.sponsor-text {
    margin-top: -10px;
    display: flex;
    justify-content: space-evenly;

}

.sponsor-text>img {
    width: 12%;
}

/* footer */

.footer {
    margin-top: 80px;
    margin-bottom: 50px;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 10px 20px;
}

.footer-descrive {
    color: #424242;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;

}

/* responsive media query */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    .features {
        flex-direction: column;
    }

    .nav {
        flex-direction: column;
    }

    .images-features {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .text-features {
        width: 100%;
        padding: 0;
    }

    .facts-card-container {
        flex-direction: column;
    }

    .facts>p {
        width: 100%;
    }

    .card {
        margin-bottom: 5px;
    }

    .sponsor-text {
        flex-direction: column;
    }

    .sponsor-text>img {
        width: 50%;
        margin: 10px auto;
    }

    .second-features {
        flex-direction: column;
    }

    .text-second-features {
        width: 100%;
    }

    .images-second-features {
        width: 100%;
    }

    .year-second-features {
        position: static;
        bottom: 100px;
        left: 0px;
        max-width: 300px;
        padding: 0;
    }

}

/* header medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .nav {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }

    .features {
        flex-direction: column-reverse;
    }

    .images-features,
    .text-features {
        width: 100%;
    }

    .text-features {
        margin-bottom: 10px;
    }

    .facts-card-container {
        flex-direction: column;
    }
    .year-second-features {
        border-radius: 8px;
        background: #FF900E;
        padding: 20px 30px;
        width: 300px;
        position: relative;
        bottom: 170px;
        left: 310px;
    }
}